// app global css in SCSS form
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Smooch+Sans:wght@100..900&display=swap');

body.body--dark .custom-footer .v-border {
  background-color: $dark-page !important;
  color: white !important;
}

.q-toggle__track {
  background-color: #8a8888 !important;
}

body.body--light .custom-footer .v-border {
  background-color: $light-page !important;
  color: black !important;
}

body.body--dark .custom-footer {
  background-color: $dark-footer !important;
  color: white !important;
}

body.body--light .custom-footer {
  background-color: $light-footer !important;
  color: black !important;
}

.custom-header {
  border-bottom: 1px solid #000;
  color: inherit;
  font-family: 'Inter', sans-serif;
}

.q-btn--flat .q-btn__content {
  color: var(--q-color-secondary);
  border-bottom: 2px solid $accent;
  transition: all 0.2s ease;
  margin: 1rem;
  font-size: 15px;
}

.q-btn--flat:hover .q-btn__content {
  color: $accent !important;
  font-weight: 600;
}

.menu-btn .q-btn__content {
  border-bottom: none !important;
}

body.desktop .q-focusable:focus .q-focus-helper,
body.desktop .q-hoverable:hover .q-focus-helper {
  background: inherit;
  opacity: 0;
}
body.ios .q-hoverable:active .q-focus-helper {
  background: inherit;
  opacity: 0;
}
.q-focus-helper {
  opacity: 0;
  transition: unset;
}

.q-footer .social-btn.q-btn--flat .q-btn__content {
  margin: 0 !important;
  padding: 0 !important;
  border: none !important;
}

.text-social {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Smooch Sans', sans-serif;
}

.text-social-bt {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Smooch Sans', sans-serif;
  text-align: center;
}

.social-link {
  color: $secondary;
  font-size: 17px;
  margin-right: 5px;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.social-link:hover i {
  transform: scale(1.5);
  color: $accent;
}

.social-link .email-text {
  text-decoration: none !important;
  color: inherit !important;
  line-height: 1;
}

.custom-row-footer {
  display: flex;
  justify-content: center;
  align-items: stretch;
  max-width: 800px;
  margin: 0 auto;
  gap: 40px;
}

.column {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.v-border {
  border-left: 1px solid;
  height: auto;
  align-self: stretch;
  margin: 0 16px;
}

.h-border {
  border-top: 1px solid;
  width: 100%;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

@media (max-width: 600px) {
  .custom-row-footer {
    gap: 20px;
    flex-direction: column;
  }
  .vertical-border {
    border-left: none;
    border-top: 2px solid;
    width: 100%;
    align-self: center;
  }
}
